@model IEnumerable<CityWeather>

     @*Fahrenheit is less than 44 = blue background color
  Fahrenheit is between 44 and 74 = blue background color
  Fahrenheit is greater than 74 = blue background color*@

@{
    ViewBag.Title = "Home";

    string GetBackground(int fah)
    {
        string res = string.Empty;

        return fah < 44 ? "blue-back" :
               fah <= 74 ? "green-back" : "orange-back";
    }
}

<div class="margin-top-200 margin-left flex">
    @foreach (CityWeather city in Model)
    {
       @* <div class="box @GetBackground(city.TemperatureFahrenheit)">
            <div class="flex-borderless">
                <div class="w-50">
                    <h1>@city.CityName</h1>
                    <p>@city.DateAndTime.ToString("hh:mm tt")</p>
                    <a href="/weather/@city.CityUniqueCode">Details</a>
                </div>
                <div class="border-left w-50">
                    <h1 class="margin-left">@city.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
                </div>
            </div>
        </div>*@

        
        WrapperCityWeather model = new()
        {
            CityWeather = city,
            BackgrounColorBox = GetBackground(city.TemperatureFahrenheit)
        };

        <partial name="_CityPartialView" model="model" />
    }
</div>
   